expense-daily.json
{
  "name": "Expense daily",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "expense-alert-test",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -760,
        -60
      ],
      "id": "9f177be8-7ca1-4860-9e61-d29572f1f2e0",
      "name": "Webhook",
      "webhookId": "43ecb945-54a2-4f70-8741-caecd73d13d6"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const text = $json[\"body\"][\"Body\"];\nif (!text) {\n  return {\n    json: { error: \"No Body field found\" }\n  };\n}\n\nconst regex = /Rs\\.?\\s?([\\d,]+)\\sdebited at ([\\w\\s]+) on ([\\d-]+)/;\nconst matches = text.match(regex);\n\nif (matches) {\n  const amount = parseInt(matches[1].replace(/,/g, \"\"));\n  const merchant = matches[2].trim();\n  const date = matches[3];\n  return {\n    json: { amount, merchant, date }\n  };\n} else {\n  return {\n    json: { error: \"Could not parse text\" }\n  };\n}\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -500,
        -60
      ],
      "id": "9263faea-b725-4c0f-9dd8-3e463ca93a23",
      "name": "Code"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "aa399edb-ed3e-49e4-955d-23ea8cdc8844",
              "leftValue": "={{ $json.Amount }}",
              "rightValue": 10000,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -20,
        -60
      ],
      "id": "b6254166-5c70-4887-8c0d-5e4778f0c1d1",
      "name": "If"
    },
    {
      "parameters": {
        "sendTo": "chakolesanskruti@gmail.com",
        "subject": "⚠ Large Expense Alert!",
        "emailType": "text",
        "message": "=You spent ₹{{ $json.Amount }} at {{ $json.Merchant }} on {{ $json.Date }}.",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        240,
        -80
      ],
      "id": "5d8af9d9-c873-43ce-a33b-04cfb99aa86d",
      "name": "Send a message",
      "webhookId": "34edc24e-a95d-4dcb-868a-9a37aa4c21f3",
      "credentials": {
        "gmailOAuth2": {
          "id": "OYFV9pO1Zeq8NWW0",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1bjwEwKl4obqcgnTmOPUT3TE9bRbnGhXQbLCiqGcl8_c",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Sheet1",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Date": "={{ $json.date }}",
            "Amount": "={{ $json.amount }}",
            "Merchant": "={{ $json.merchant }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Date",
              "displayName": "Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Amount",
              "displayName": "Amount",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Merchant",
              "displayName": "Merchant",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Type",
              "displayName": "Type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        -240,
        -60
      ],
      "id": "c0a4a347-861d-4a44-a2f7-f61b1e82ac84",
      "name": "Append row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "4Q93QOKcTGeT8d5a",
          "name": "Google Sheets account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append row in sheet": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "b8c84737-3da3-485c-8694-003309d4cabf",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "26a2ebd6ed143e2e4821619e789ab6a657a19ed22fd9ee0fe5627e65747b9cfa"
  },
  "id": "DBWrtrRMSsYTuGs5",
  "tags": []
}
